# Read data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as mt
A = mt.read_csv("C:/Users/SHREE/Desktop/Data/50_Startups.csv")

# Preview

In [2]:
A.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

# Missing data treatment

In [3]:
from important_tool import replacer
replacer(A)

# Define X and Y

In [4]:
Y = A[["STATE"]]
X = A.drop(labels=["STATE"],axis=1)

# Proprocessing

In [5]:
from important_tool import preprocessing1
Xnew = preprocessing1(X)

# Divide data in training and testing

In [6]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Create Neural Network

In [7]:
from sklearn.neural_network import MLPClassifier
mlc = MLPClassifier(hidden_layer_sizes=(100,100),random_state=21)
nn = mlc.fit(xtrain,ytrain)
pred_ts = nn.predict(xtest)
pred_tr = nn.predict(xtrain)

from sklearn.metrics import accuracy_score
testing_error = accuracy_score(ytest,pred_ts)
training_error = accuracy_score(ytrain,pred_tr)

In [8]:
testing_error

0.5

In [9]:
training_error

1.0